@import '../../styles/index.scss';

.stackTag {
  font-size: 0.75rem;
  background-color: $primary-color;
  color: $quaternary-color;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
}
