@import '../../styles/index.scss';

.containerProjects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;

  .containerProject {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    & img {
      width: 100%;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }

    .projectInfo {
      padding: 1.5rem;

      & > h3 {
        color: $primary-color;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      & > p {
        text-align: justify;
        line-height: 1.5rem;
        color: $primary-color;
        font-weight: 300;
      }
    }
  }
}