@import '../../styles/index.scss';

.background {
  width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  padding-left: 3rem;

  .headerContainer {
    
    .header {
      font-size: 4rem;
      color: $primary-color;

      .headerDecoration {
        color: $secondary-color;
      }
    }

    .text {
      margin-top: 2rem;
      width: 35%;
      line-height: 1.5rem;
      color: $primary-color;
      font-weight: 400;
    }

    .linkRepositoriesContainer {
      margin-top: 0.5rem;
      @include horizontal();
      justify-content: flex-start;
      align-items: center;

      .linkRepositories {
        margin-left: 0.5rem;
        color: $primary-color;
        font-weight: 500;
        text-decoration: underline;
      }

      .gitHubIcon {
        width: 1.5rem;
        height: 1.5rem;
        color: $primary-color;
      }
    }
  }
}