@import '../../../styles/index.scss';


.horizontalSection {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: $media-lg-tablet) {
  .horizontalSection {
    grid-template-columns: 1fr;
  }
}
