// Colors:
$primary-color: #4c4f72;
$secondary-color: #6dc8c2;
$tertiary-color: #001b43;
$quaternary-color: #ffffff;
$quinary-color: #E5E5E5;

// Measures:
$height-elements: 3rem;
$border-radius: 5px;
$side-padding: 0.5rem;