@import '../../styles/index.scss';

.background {
  @include backgroundDefault();
  @include horizontal();

  .containerInfo {
    width: 50%;

    .containerHeader {
      .header {
        @include header();

        .headerDecoration {
          @include headerDecoration();
        }
      }

      .text {
        @include text();
        margin-top: 1rem;
      }
    }

    .containerSkills {
      @include horizontal();
      justify-content: flex-start;
      flex-wrap: wrap;

      .containerSkill {
        @include horizontal();
        @include default-inputs();
        @include center-flexbox();

        margin-right: 1.5rem;
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
        background-color: $primary-color;

        .skill {
          color: $quaternary-color;
          font-weight: 600;
        }
      }
    }
  }

  .containerImage {
    @include center-flexbox();
    .img {
      width: 90%;
    }
  }

  @media screen and (max-width: 930px) {
    .containerInfo {
      width: 100%;
      flex-direction: column;

      .containerSkills {
        .containerSkill {
          margin-right: 1rem;
          margin-top: 1rem;
          padding: 0rem 1rem;
        }
      }
    }
    .containerImage {
      display: none;
    }
  }

  @media screen and (max-width: 450px) {
    .containerInfo {
      .containerSkills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;

        .containerSkill {
          margin-right: 0;
          margin-top: 0;
          padding: 0rem 1rem;
        }
      }
    }
  }
}
