@import "../../styles/index.scss";

.background {
  @include backgroundDefault();
  @include horizontal();

  .containerAboutMe {
    width: 50%;
    @include center-flexbox();

    .subContainerAboutMe {
      width: 100%;

      .header {
        color: $primary-color;
        font-size: 4rem;

        .headerDecoration {
          color: $tertiary-color;
        }
      }

      .subHeader {
        color: $primary-color;
        font-size: 2rem;
        margin-top: 2rem;
        font-weight: 400;
      }

      .text {
        margin-top: 2rem;
        width: 90%;
        line-height: 1.5rem;
        color: $primary-color;
        font-weight: 400;

        .textDecoration {
          color: $tertiary-color;
          font-weight: 600;
        }
      }

      .containerButtons {
        margin-top: 2rem;
        @include horizontal();
        justify-content: flex-start;

        .linkedinIcon {
          width: 3rem;
          height: 3rem;
          color: $primary-color;
          cursor: pointer;

          @include transition();
        }

        .linkedinIcon:hover {
          color: $secondary-color;
        }

        .button {
          background: $secondary-color;
          color: $quaternary-color;
          font-weight: 600;
          margin-left: 2rem;
          cursor: pointer;
          @include default-inputs();
          @include center-flexbox();
          @include transition();

          .buttonText {
            margin-left: 1rem;
          }

          .arrowIcon {
            margin: 0 1rem;
          }
          
        }

        .button:hover {
          background: $primary-color;
        }
      }
    }
  }

  .containerImage {
    @include center-flexbox();

    .image {
      width: 90%;
    }
  }

  @media screen and (max-width: 930px) {

    .containerAboutMe {
      width: 100%;
    }

    .containerImage {
      display: none;
    }
  }
}