@import '../../styles/index.scss';

.containerStackTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.containerProject {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  @include transition();

  & img {
    width: 100%;
    height: 241px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .projectInfo {
    padding: 1.5rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    &>h3 {
      color: $primary-color;
      font-weight: 700;
    }

    &>p {
      text-align: justify;
      line-height: 1.5rem;
      color: $primary-color;
      font-weight: 300;
    }
  }
}

.containerProject:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 650px) {
  .containerProject {
    width: 100%;
    box-shadow: none;

    & img {
      border-radius: 5px;
    }

    .projectInfo {
      padding: 1.5rem 0 0 0;
    }

    & img {
      height: 200px;
    }
  }
}
