@import "../../styles/index.scss";

.background {
  @include backgroundDefault();
  @include horizontal();

  .contactContainer {
    width: 40%;

    .headerContainer {
      .header {
        @include header();

        .headerDecoration {
          @include headerDecoration();
        }
      }

      .text {
        @include text();
      }
    }

    .formContainer {
      @include vertical();
      margin-top: 3rem;

      .containerInput {
        position: relative;
        @include horizontal();
        justify-content: flex-end;

        .input, .inputArea, .inputSubmit {
          @include default-inputs();
          @include transition();
          width: 100%;
          margin-bottom: 2rem;
          outline: 0;
          border: 0;
          padding-left: 3rem;
          font-family: "Montserrat";
          background-color: $quinary-color;
          border: 2px $quinary-color solid;
        }

        .input:focus, .inputArea:focus {
          border-color: $primary-color;
        }


        .inputArea {
          padding-top: 1rem;
          min-height: 100px;
          max-width: 100%;
          min-width: 100%;
        }

        .inputSubmit {
          @include center-flexbox();
          border: none;
          width: 40%;
          padding: 0;
          font-weight: 600;
          font-size: 1.1rem;
          cursor: pointer;
          background: $secondary-color;
          color: $quaternary-color;
        }

        .inputSubmit:hover {
          background: $primary-color;
        }

        .icon {
          position: absolute;
          left: 1rem;
          top: 1rem;
          color: $primary-color;
        }
      }
    }
  }

  .imageContainer {
    width: 50%;
    @include center-flexbox();
    .img {
      width: 100%;
    }
  }

  @media screen and (max-width: 930px) {

    .contactContainer {
      width: 100%;
    }

    .imageContainer {
      display: none;
    }
  }
}
