@import "../../../styles/index.scss";

.inputContainer {
  position: relative;
  @include horizontal();
  justify-content: flex-end;

  & input, & textarea, & input[type="submit"] {
    @include default-inputs();
    @include transition();
    width: 100%;
    outline: 0;
    border: 0;
    padding-left: 3rem;
    font-family: "Montserrat";
    background-color: $quinary-color;
    border: 2px $quinary-color solid;
  }

  & input:focus, & textarea:focus {
    border-color: $primary-color;
  }

  & textarea {
    resize: vertical;
    padding-top: 1rem;
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
  }

  & svg {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: $primary-color;
  }

  & input[type="submit"] {
    @include center-flexbox();
    border: none;
    width: 40%;
    padding: 0;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    background: $secondary-color;
    color: $quaternary-color;
  }

  & input[type="submit"]:hover {
    background: $primary-color;
  }

  & input[type="submit"]:disabled {
    cursor: auto;
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color;
    }
  } 
}
