@import "../../styles/index.scss";

.navItemsContainer,
  .navItemsActive {
    height: 100%;
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;

    & > li a {
      color: $primary-color;
      font-weight: 600;
      cursor: pointer;

      @include default-inputs();
      @include center-flexbox();
      @include transition();
      
      &:hover {
        color: $secondary-color;
      }
    }

    .navItemsActive {
      color: $secondary-color;
    }
  }

  @media screen and (max-width: 900px) {
    .navItemsContainer {
      flex-direction: column;
      gap: 1rem;
      height: 100vh;
    }
  }